<!-- vim: noexpandtab tabstop=4 shiftwidth=4 softtabstop=0
-->
<configuration>

<!--
	<host id="A" host="10.144.11.103" user="maestro" password="maestro"
			sheep="/home/maestro/sheep_source/sheep/sheep"
			collie="/home/maestro/sheep_source/collie/collie" />
	<host id="B" host="10.144.11.109" user="maestro" password="maestro"
			sheep="/home/maestro/sheep_source/sheep/sheep"
			collie="/home/maestro/sheep_source/collie/collie" />
	<host id="C" host="10.144.11.116" user="maestro" password="maestro"
			sheep="/home/maestro/sheep_source/sheep/sheep"
			collie="/home/maestro/sheep_source/collie/collie" />
-->

<!--
	<host id="A" host="10.144.11.121" user="ubuntu" password="ubuntu"
			sheep="/home/ubuntu/sheep_source/sheep/sheep"
			collie="/home/ubuntu/sheep_source/collie/collie"
			cluster="zookeeper:localhost:2181" />
	<host id="B" host="10.144.11.122" user="ubuntu" password="ubuntu"
			sheep="/home/ubuntu/sheep_source/sheep/sheep"
			collie="/home/ubuntu/sheep_source/collie/collie"
			cluster="zookeeper:localhost:2181" />
	<host id="C" host="10.144.11.123" user="ubuntu" password="ubuntu"
			sheep="/home/ubuntu/sheep_source/sheep/sheep"
			collie="/home/ubuntu/sheep_source/collie/collie"
			cluster="zookeeper:localhost:2181" />
-->

	<sheep hostId="A" port="7000" directory="/tmp/sheepdog/7000" />
	<sheep hostId="A" port="7001" directory="/tmp/sheepdog/7001" />
	<sheep hostId="A" port="7002" directory="/tmp/sheepdog/7002" />
	<sheep hostId="A" port="7003" directory="/tmp/sheepdog/7003" />
	<sheep hostId="A" port="7004" directory="/tmp/sheepdog/7004" />
	<sheep hostId="A" port="7005" directory="/tmp/sheepdog/7005" />
	<sheep hostId="A" port="7006" directory="/tmp/sheepdog/7006" />
	<sheep hostId="A" port="7007" directory="/tmp/sheepdog/7007" />
	<sheep hostId="A" port="7008" directory="/tmp/sheepdog/7008" />
	<sheep hostId="A" port="7009" directory="/tmp/sheepdog/7009" />
	<sheep hostId="A" port="7010" directory="/tmp/sheepdog/7010" />
	<sheep hostId="A" port="7011" directory="/tmp/sheepdog/7011" />
	<sheep hostId="A" port="7012" directory="/tmp/sheepdog/7012" />

	<sheep hostId="B" port="7000" directory="/tmp/sheepdog/7000" />
	<sheep hostId="B" port="7001" directory="/tmp/sheepdog/7001" />
	<sheep hostId="B" port="7002" directory="/tmp/sheepdog/7002" />
	<sheep hostId="B" port="7003" directory="/tmp/sheepdog/7003" />
	<sheep hostId="B" port="7004" directory="/tmp/sheepdog/7004" />
	<sheep hostId="B" port="7005" directory="/tmp/sheepdog/7005" />
	<sheep hostId="B" port="7006" directory="/tmp/sheepdog/7006" />
	<sheep hostId="B" port="7007" directory="/tmp/sheepdog/7007" />
	<sheep hostId="B" port="7008" directory="/tmp/sheepdog/7008" />
	<sheep hostId="B" port="7009" directory="/tmp/sheepdog/7009" />
	<sheep hostId="B" port="7010" directory="/tmp/sheepdog/7010" />
	<sheep hostId="B" port="7011" directory="/tmp/sheepdog/7011" />
	<sheep hostId="B" port="7012" directory="/tmp/sheepdog/7012" />

	<sheep hostId="C" port="7000" directory="/tmp/sheepdog/7000" />
	<sheep hostId="C" port="7001" directory="/tmp/sheepdog/7001" />
	<sheep hostId="C" port="7002" directory="/tmp/sheepdog/7002" />
	<sheep hostId="C" port="7003" directory="/tmp/sheepdog/7003" />
	<sheep hostId="C" port="7004" directory="/tmp/sheepdog/7004" />
	<sheep hostId="C" port="7005" directory="/tmp/sheepdog/7005" />
	<sheep hostId="C" port="7006" directory="/tmp/sheepdog/7006" />
	<sheep hostId="C" port="7007" directory="/tmp/sheepdog/7007" />
	<sheep hostId="C" port="7008" directory="/tmp/sheepdog/7008" />
	<sheep hostId="C" port="7009" directory="/tmp/sheepdog/7009" />
	<sheep hostId="C" port="7010" directory="/tmp/sheepdog/7010" />
	<sheep hostId="C" port="7011" directory="/tmp/sheepdog/7011" />
	<sheep hostId="C" port="7012" directory="/tmp/sheepdog/7012" />

<!-- Utilities -->

	<test id="stat" auto="false" description="Utility: Retrieve status of all sheep.">
		<sheep-stat />
	</test>

	<test id="scan" auto="false" description="Utility: Scan all sheep for correctness.">
		<sheep-scan />
	</test>

	<test id="kill" auto="false" description="Utility: Kill all sheep.">
		<sheep-kill />
	</test>

	<test id="shutdown" auto="false" description="Utility: Shut down all sheep.">
		<cluster-shutdown />
		<sleep msecs="3000" />
		<sheep-stat />	<!-- Looks for corefiles, scans valgrind logs. -->
	</test>

	<test id="wipe" auto="false" description="Utility: Wipe all sheep.">
		<sheep-wipe />
	</test>

<!-- Subroutines -->

	<test id="zookeeper_init" auto="false" description="Clean out ZK data.">
		<exec>
			sudo service zookeeper stop
			sudo rm -rf /var/lib/zookeeper/version-2/
			sudo mkdir -p /var/lib/zookeeper/version-2/
			sudo chown zookeeper:zookeeper /var/lib/zookeeper/version-2/
		</exec>
		<!-- Separating the 'exec's introduces a barrier. -->
		<exec>
			sudo service zookeeper start
		</exec>
		<sleep msecs="4000" reason="Waiting for ZooKeeper to settle." />
	</test>

	<test id="zookeeper_settle" auto="false" description="Want after starting ZK sheep.">
		<sleep msecs="2000" />
	</test>

	<test id="zookeeper_settle" auto="false" description="Wait after killing ZK sheep.">
		<sleep msecs="3000" />
	</test>

	<test id="init" auto="false" description="Utility: Prepare for a new test suite.">
		<sheep-wipe />
		<subtest testId="zookeeper_init" />
	</test>

	<test id="check" auto="false" description="Utility: Check status of all sheep.">
		<sheep-stat status="RUNNING" check="true" />
		<sheep-scan />
	</test>

	<test id="start-singlehost" auto="false" description="Utility: Start a single hostl cluster.">
		<sheep-start sheepId="A-7000" valgrind="true" />
		<sheep-start hostId="A" valgrind="true" />
	</test>

	<test id="start-small" auto="false" description="Utility: Start a small cluster.">
		<!-- subtest testId="init" / -->
		<sheep-start sheepId="A-7000,A-7001,B-7000,B-7001,C-7000,C-7001" />
		<!-- cluster-format copies="2" / -->
	</test>

	<test id="start-large" auto="false" description="Utility: Start a large cluster.">
		<!-- subtest testId="init" / -->
		<sheep-start />
		<!-- cluster-format copies="3" / -->
	</test>

	<test id="format-1" auto="false" description="Utility: Format with 1 copy.">
		<sheep-stat status="NEEDSFORMAT" />
		<cluster-format copies="1" />
		<!-- XXX sleep, else we get 'no active nodes' -->
		<sleep msecs="1000" reason="Post-format wait for sync." />
		<subtest testId="check" />
	</test>

	<test id="format-2" auto="false" description="Utility: Format with 2 copies.">
		<sheep-stat status="NEEDSFORMAT" />
		<cluster-format copies="2" />
		<!-- XXX sleep, else we get 'no active nodes' -->
		<sleep msecs="1000" reason="Post-format wait for sync." />
		<subtest testId="check" />
	</test>

	<test id="format-3" auto="false" description="Utility: Format with 3 copies.">
		<sheep-stat status="NEEDSFORMAT" />
		<cluster-format copies="3" />
		<!-- XXX sleep, else we get 'no active nodes' -->
		<sleep msecs="1000" reason="Post-format wait for sync." />
		<subtest testId="check" />
	</test>

	<test id="exercise-crud" auto="false" groups="@fails"
					description="Utility: Exercise a cluster.">
		<!-- The varied sleeps here are to introduce jitter. -->
		<!-- If you delete a VDI on a cluster which is under load,
		   - it can take a while before the vdi actually goes away.
		   - That causes test failures in this test, which assumes
		   - that it can create a VDI immediately after deletion.
		   - Basically, you can't repeat the parallel. -->
		<parallel>

			<sequential repeat="3">
				<vdi-create name="crud-vdi-0" size="102400" write="true" />
				<vdi-read name="crud-vdi-0" />
				<vdi-delete name="crud-vdi-0" />
			</sequential>

			<sequential repeat="3">
				<sleep msecs="500" />
				<vdi-create name="crud-vdi-1" size="102400" write="true" />
				<vdi-read name="crud-vdi-1" />
				<vdi-delete name="crud-vdi-1" />
			</sequential>

			<sequential repeat="2">
				<sleep msecs="1000" />
				<vdi-create name="crud-vdi-2" size="102400" write="true" />
				<vdi-read name="crud-vdi-2" />
				<vdi-delete name="crud-vdi-2" />
			</sequential>

			<sequential repeat="2">
				<sleep msecs="1500" />
				<vdi-create name="crud-vdi-3" size="102400" write="true" />
				<vdi-read name="crud-vdi-3" />
				<vdi-delete name="crud-vdi-3" />
			</sequential>

			<sequential repeat="2">
				<sleep msecs="2000" />
				<vdi-create name="crud-vdi-4" size="102400" write="true" />
				<vdi-read name="crud-vdi-4" />
				<vdi-delete name="crud-vdi-4" />
			</sequential>

			<sequential repeat="2">
				<sleep msecs="2500" />
				<vdi-create name="crud-vdi-5" size="102400" write="true" />
				<vdi-read name="crud-vdi-5" />
				<vdi-delete name="crud-vdi-5" />
			</sequential>

			<sequential>
				<sleep msecs="3000" />
				<vdi-create name="crud-vdi-6" size="102400" write="true" />
				<vdi-read name="crud-vdi-6" />
				<vdi-delete name="crud-vdi-6" />
			</sequential>

			<sequential>
				<sleep msecs="3000" />
				<vdi-create name="crud-vdi-7" size="102400" write="true" />
				<vdi-read name="crud-vdi-7" />
				<vdi-delete name="crud-vdi-7" />
			</sequential>

			<sequential>
				<sleep msecs="3000" />
				<vdi-create name="crud-vdi-8" size="102400" write="true" />
				<vdi-read name="crud-vdi-8" />
				<vdi-delete name="crud-vdi-8" />
			</sequential>

			<sequential>
				<sleep msecs="3000" />
				<vdi-create name="crud-vdi-9" size="102400" write="true" />
				<vdi-read name="crud-vdi-9" />
				<vdi-delete name="crud-vdi-9" />
			</sequential>

		</parallel>

		<subtest testId="check" />
	</test>

	<test id="exercise-parallel" auto="false" description="Utility: Exercise a cluster.">
		<parallel>
			<vdi-create name="exercise-vdi-0" size="102400" write="true" />
			<vdi-create name="exercise-vdi-1" size="102400" write="true" />
			<vdi-create name="exercise-vdi-2" size="102400" write="true" />
			<vdi-create name="exercise-vdi-3" size="102400" write="true" />
			<vdi-create name="exercise-vdi-4" size="102400" write="true" />
			<vdi-create name="exercise-vdi-5" size="102400" write="true" />
			<vdi-create name="exercise-vdi-6" size="102400" write="true" />
			<vdi-create name="exercise-vdi-7" size="102400" write="true" />
			<vdi-create name="exercise-vdi-8" size="102400" write="true" />
			<vdi-create name="exercise-vdi-9" size="102400" write="true" />
		</parallel>
		<subtest testId="check" />

		<parallel repeat="10" sync="false">
			<vdi-read name="exercise-vdi-0" />
			<vdi-read name="exercise-vdi-1" />
			<vdi-read name="exercise-vdi-2" />
			<vdi-read name="exercise-vdi-3" />
			<vdi-read name="exercise-vdi-4" />
			<vdi-read name="exercise-vdi-5" />
			<vdi-read name="exercise-vdi-6" />
			<vdi-read name="exercise-vdi-7" />
			<vdi-read name="exercise-vdi-8" />
			<vdi-read name="exercise-vdi-9" />
		</parallel>
		<subtest testId="check" />

		<parallel>
			<vdi-delete name="exercise-vdi-0" />
			<vdi-delete name="exercise-vdi-1" />
			<vdi-delete name="exercise-vdi-2" />
			<vdi-delete name="exercise-vdi-3" />
			<vdi-delete name="exercise-vdi-4" />
			<vdi-delete name="exercise-vdi-5" />
			<vdi-delete name="exercise-vdi-6" />
			<vdi-delete name="exercise-vdi-7" />
			<vdi-delete name="exercise-vdi-8" />
			<vdi-delete name="exercise-vdi-9" />
		</parallel>
		<!-- We sleep here so SD can delete files that chmod might want to alter.
		   - otherwise, chmod does readdir(), then fails to chmod() an entry which
		   - was deleted before chmod got that far. . -->
		<sleep msecs="5000" reason="Waiting for VDI deletion (and possible valgrind)" />
		<subtest testId="check" />
	</test>

	<test id="exercise-order-cluster" auto="false">
		<vdi-create name="order-vdi-cluster" size="1" />
		<sequential repeat="10">
			<vdi-write name="order-vdi-cluster" pattern="ABCD" />
			<parallel repeat="8" sync="false">
				<vdi-read name="order-vdi-cluster" pattern="ABCD" />
			</parallel>
			<vdi-write name="order-vdi-cluster" pattern="EFGH" />
			<parallel repeat="8" sync="false">
				<vdi-read name="order-vdi-cluster" pattern="EFGH" />
			</parallel>
			<vdi-write name="order-vdi-cluster" pattern="IJKL" />
			<parallel repeat="8" sync="false">
				<vdi-read name="order-vdi-cluster" pattern="IJKL" />
			</parallel>
			<vdi-write name="order-vdi-cluster" pattern="NMOP" />
			<parallel repeat="8" sync="false">
				<vdi-read name="order-vdi-cluster" pattern="NMOP" />
			</parallel>
			<vdi-write name="order-vdi-cluster" pattern="QRST" />
			<parallel repeat="8" sync="false">
				<vdi-read name="order-vdi-cluster" pattern="QRST" />
			</parallel>
			<vdi-write name="order-vdi-cluster" pattern="UVWX" />
			<parallel repeat="8" sync="false">
				<vdi-read name="order-vdi-cluster" pattern="UVWX" />
			</parallel>
		</sequential>
		<subtest testId="check" />
		<vdi-delete name="order-vdi-cluster" />
	</test>

	<test id="exercise-order-local" auto="false">
		<vdi-create name="order-vdi-local" size="1" />
		<sequential repeat="10">
			<vdi-write name="order-vdi-local" pattern="ABCD" sheepId="A-7000" />
			<vdi-read name="order-vdi-local" pattern="ABCD" sheepId="A-7000" />
			<vdi-write name="order-vdi-local" pattern="EFGH" sheepId="A-7000" />
			<vdi-read name="order-vdi-local" pattern="EFGH" sheepId="A-7000" />
			<vdi-write name="order-vdi-local" pattern="IJKL" sheepId="A-7000" />
			<vdi-read name="order-vdi-local" pattern="IJKL" sheepId="A-7000" />
			<vdi-write name="order-vdi-local" pattern="NMOP" sheepId="A-7000" />
			<vdi-read name="order-vdi-local" pattern="NMOP" sheepId="A-7000" />
			<vdi-write name="order-vdi-local" pattern="QRST" sheepId="A-7000" />
			<vdi-read name="order-vdi-local" pattern="QRST" sheepId="A-7000" />
			<vdi-write name="order-vdi-local" pattern="UVWX" sheepId="A-7000" />
			<vdi-read name="order-vdi-local" pattern="UVWX" sheepId="A-7000" />
		</sequential>
		<subtest testId="check" />
		<vdi-delete name="order-vdi-local" />
	</test>

	<!-- Passes. -->
	<test id="exercise" auto="false" description="Utility: Exercise a cluster.">
		<subtest testId="exercise-parallel" />
		<subtest testId="exercise-order-local" />
		<subtest testId="exercise-order-cluster" />
	</test>

<!-- Tests -->

	<test id="simple-singlehost-master-delay" groups="@release,@fails">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" valgrind="true" />
		<!-- XXX delay -->
		<sheep-start hostId="A" valgrind="true" delay="1000" />
		<subtest testId="format-1" />
		<vdi-create sheepId="A-7000" name="test-vdi" />
		<vdi-write sheepId="A-7001" name="test-vdi" />
		<subtest testId="check" />
		<vdi-delete sheepId="A-7002" name="test-vdi" />
		<sleep msecs="2000" /> <!-- Wait for the deletion to propagate. -->
		<subtest testId="check" />
	</test>

	<!-- APPLIANCE-2115 -->
	<test id="simple-singlehost-master" groups="@release,@fails">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" valgrind="true" />
		<!-- XXX delay -->
		<sheep-start hostId="A" valgrind="true" />
		<subtest testId="format-1" />
		<vdi-create sheepId="A-7000" name="test-vdi" />
		<vdi-write sheepId="A-7001" name="test-vdi" />
		<subtest testId="check" />
		<vdi-delete sheepId="A-7002" name="test-vdi" />
		<sleep msecs="2000" /> <!-- Wait for the deletion to propagate. -->
		<subtest testId="check" />
	</test>

	<!-- APPLIANCE-2115 -->
	<test id="simple-singlehost-slave" groups="@release,@fails">
		<subtest testId="init" />
		<!-- XXX delay -->
		<sheep-start hostId="A" />
		<subtest testId="format-1" />
		<vdi-create sheepId="A-7002" name="test-vdi" />
		<vdi-write sheepId="A-7000" name="test-vdi" />
		<subtest testId="check" />
		<vdi-delete sheepId="A-7001" name="test-vdi" />
		<sleep msecs="2000" /> <!-- Wait for the deletion to propagate. -->
		<subtest testId="check" />
	</test>

	<!-- Fails with collie hangs, reason unknown. -->
	<test id="simple-singlehost-fastiops" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<subtest testId="format-1" />
		<sheep-start hostId="A" postdelay="0" />
		<vdi-create sheepId="A-7000" name="test-vdi" size="102400" write="true" />
		<vdi-read sheepId="A-7000" name="test-vdi" />
	</test>

	<test id="simple-multihost-master" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000,B-7000,C-7000" />
		<subtest testId="format-1" />
		<vdi-create sheepId="A-7000" name="test-vdi" />
		<vdi-write sheepId="B-7000" name="test-vdi" />
		<subtest testId="check" />
		<vdi-delete sheepId="C-7000" name="test-vdi" />
		<sleep msecs="2000" /> <!-- Wait for the deletion to propagate. -->
		<subtest testId="check" />
	</test>

	<test id="simple-multihost-slave" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000,B-7000,C-7000" />
		<subtest testId="format-1" />
		<vdi-create sheepId="C-7000" name="test-vdi" />
		<vdi-write sheepId="A-7000" name="test-vdi" />
		<subtest testId="check" />
		<vdi-delete sheepId="B-7000" name="test-vdi" />
		<sleep msecs="2000" /> <!-- Wait for the deletion to propagate. -->
		<subtest testId="check" />
	</test>

	<!-- Fails with collie hangs, reason unknown. -->
	<test id="simple-multihost-exercise" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" valgrind="true" />
		<!-- XXX delay -->
		<sheep-start valgrind="true" />
		<subtest testId="format-3" />
		<subtest testId="exercise" />
	</test>

	<test id="cluster-format-with-too-few-nodes" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<cluster-format copies="3" />
		<sheep-stat status="HALTED" check="true" />
		<echo message="Cluster status was HALTED: Correct." />
	</test>

	<test id="cluster-format-with-no-vnodes" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000,A-7001,A-7002" vnodes="0" />
		<sheep-stat status="NEEDSFORMAT" />
		<cluster-format copies="1" sheepId="A-7000" />
		<!-- XXX sleep, else we get 'no active nodes' -->
		<sleep msecs="1000" />
		<!-- Bug (ZK only): MASTER is WAITING, other nodes are NEEDSFORMAT. -->
		<sheep-stat status="HALTED" />
	</test>

	<!-- This does not fail with valgrind. :-( -->
	<!-- assertion failure: APPLIANCE-2110 -->
	<test id="cluster-joinstorm-preformat" groups="@release,@fails">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<subtest testId="zookeeper_settle" />
		<sheep-start sheepId="A-7001,A-7002,A-7003" />
		<sheep-start sheepId="A-7004,A-7005,A-7006" />
		<sheep-start sheepId="A-7007,A-7008,A-7009" />
		<subtest testId="zookeeper_settle" />
		<subtest testId="format-1" />
		<!--
		<vdi-create sheepId="A-7000" name="test-vdi" write="true" />
		<vdi-write sheepId="A-7001" name="test-vdi" />
		<vdi-delete sheepId="A-7002" name="test-vdi" />
		-->
		<subtest testId="check" />
	</test>

	<test id="cluster-joinstorm-postformat-init" auto="false">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<cluster-format copies="1" />
	</test>

	<test id="cluster-joinstorm-postformat-fail" auto="false">
		<parallel>
			<sheep-start sheepId="A-7001" />
			<sheep-start sheepId="A-7002" />
			<sheep-start sheepId="A-7003" />
		</parallel>
	</test>

	<test id="cluster-joinstorm-postformat" groups="@release">
		<subtest testId="cluster-joinstorm-postformat-init" />
		<subtest testId="cluster-joinstorm-postformat-fail" />
		<subtest testId="check" />
	</test>

	<test id="cluster-fpe-init" auto="false">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" valgrind="true" />
		<sheep-start sheepId="A-7001,A-7002" valgrind="true" />
		<sheep-start sheepId="B-7000,B-7001,B-7002" valgrind="true" />
		<subtest testId="format-2" />

		<vdi-create sheepId="A-7000" name="test-vdi" size="20480" />
		<vdi-write sheepId="A-7000" name="test-vdi" offset="0" length="20480" />
		<vdi-read sheepId="B-7000" name="test-vdi" offset="0" length="20480" />
	</test>

	<test id="cluster-fpe-fail" auto="false">
		<sheep-start sheepId="C-7000" valgrind="true" />
		<!--
		<sheep-start sheepId="C-7000,C-7001,C-7002" valgrind="true" />
		-->
		<sleep msecs="1000" />
		<!-- Fails because the sheep on C died with an FPE. -->
		<vdi-read sheepId="C-7000" name="test-vdi" offset="0" length="20480" />
	</test>

	<test id="cluster-fpe-stress" auto="false">
		<sheep-start sheepId="C-7001,C-7002" />
		<sleep msecs="2000" />
		<vdi-read sheepId="C-7002" name="test-vdi" offset="0" length="20480" />
	</test>

	<test id="cluster-fpe" groups="@release">
		<subtest testId="cluster-fpe-init" />
		<subtest testId="cluster-fpe-fail" />
		<subtest testId="cluster-fpe-stress" />
		<subtest testId="check" />
	</test>

	<test id="cluster-desync-init" auto="false">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<subtest testId="format-1" />
		<!-- It needs enough data to really barf. -->
		<vdi-create sheepId="A-7000" name="test-vdi" size="300000" />
		<vdi-write sheepId="A-7000" name="test-vdi" offset="0" length="300000" />
		<!-- vdi-read sheepId="A-7000" name="test-vdi" offset="0" length="300000" / -->
	</test>

	<test id="cluster-desync-fail" auto="false">
		<sheep-start sheepId="A-7001" />
		<!-- Allow enough extra time for recovery to kick in. -->
		<sleep msecs="5000" />
		<vdi-read sheepId="A-7001" name="test-vdi" offset="0" length="300000" />
	</test>

	<test id="cluster-desync" groups="@release">
		<subtest testId="cluster-desync-init" />
		<subtest testId="cluster-desync-fail" />
		<subtest testId="check" />
	</test>

	<!-- APPLIANCE-2075, APPLIANCE-2142 -->
	<test id="valgrind" groups="@release">
		<subtest testId="init" />
		<!-- XXX delay, but fails anyway -->
		<sheep-start sheepId="A-7000,A-7001,A-7002" valgrind="true" />
		<subtest testId="format-1" />
		<vdi-create sheepId="A-7000" name="test-vdi" size="102400" />
		<vdi-write sheepId="A-7000" name="test-vdi" offset="0" length="102400" />
		<vdi-read sheepId="A-7000" name="test-vdi" offset="0" length="102400" />
		<cluster-shutdown />
		<sleep msecs="3000" />
		<sheep-stat />
	</test>

	<test id="restart_assert_common" auto="false">
		<subtest testId="zookeeper_settle" />
	</test>

	<test id="restart_assert_running_ok" auto="false">
		<subtest testId="restart_assert_common" />
		<sheep-stat status="RUNNING" check="true" />
		<vdi-list sheepId="A-7000" />
		<vdi-read sheepId="A-7000" name="test-vdi" />
		<sheep-stat status="RUNNING" check="true" />
		<sheep-scan />
	</test>

	<test id="restart_assert_running_missing" auto="false">
		<subtest testId="restart_assert_common" />
		<sheep-stat status="RUNNING" check="true" />
		<assert-fail message="No VDI found|No object found">
			<!-- Sometimes succeeds, but should probably fail. -->
			<vdi-list sheepId="A-7000" />
			<!-- Always fails. -->
			<vdi-read sheepId="A-7000" name="test-vdi" />
		</assert-fail>
		<assert-fail message="Cluster is running">
			<cluster-recover sheepId="A-7000" />
		</assert-fail>
		<assert-fail message="No VDI found|No object found">
			<!-- One of these will fail, not sure which.
			   - Depends on whether it loses the first block
			   - of the VDI or a subsequent block. -->
			<vdi-list sheepId="A-7000" />
			<vdi-read sheepId="A-7000" name="test-vdi" />
		</assert-fail>
		<sheep-stat status="RUNNING" check="true" />
		<sheep-scan />
	</test>

	<test id="restart_assert_recover_ok" auto="false">
		<subtest testId="restart_assert_common" />
		<!-- N-sheep will have the wrong epoch here. -->
		<sheep-stat status="WAITING" check="true" />
		<assert-fail message="Waiting for other nodes">
			<!-- Sometimes succeeds, but should probably fail. -->
			<vdi-list sheepId="A-7000" />
			<vdi-read sheepId="A-7000" name="test-vdi" />
		</assert-fail>
		<cluster-recover sheepId="A-7000" />
		<sleep msecs="20000" reason="Allowing recovery time." />
		<vdi-list sheepId="A-7000" />
		<vdi-read sheepId="A-7000" name="test-vdi" />
		<sheep-stat status="RUNNING" check="true" />
		<sheep-scan />
	</test>

	<test id="restart_assert_recover_missing" auto="false">
		<subtest testId="restart_assert_common" />
		<sheep-stat status="WAITING" check="true" />
		<assert-fail message="Waiting for other nodes">
			<!-- Sometimes succeeds, but should probably fail. -->
			<vdi-list sheepId="A-7000" />
			<!-- Always fails. -->
			<vdi-read sheepId="A-7000" name="test-vdi" />
		</assert-fail>
		<cluster-recover sheepId="A-7000" />
		<assert-fail message="No VDI found|No object found">
			<!-- One of these will fail, not sure which.
			   - Depends on whether it loses the first block
			   - of the VDI or a subsequent block. -->
			<vdi-list sheepId="A-7000" />
			<vdi-read sheepId="A-7000" name="test-vdi" />
		</assert-fail>
		<sheep-stat status="RUNNING" check="true" />
		<sheep-scan />
	</test>

	<test id="restart_assert_unformatted" auto="false">
		<subtest testId="restart_assert_common" />
		<sheep-stat status="NEEDSFORMAT" check="true" />
		<assert-fail message="Waiting for cluster to be formatted">
			<!-- Sometimes succeeds, but should probably fail. -->
			<vdi-list sheepId="A-7000" />
			<!-- Always fails. -->
			<vdi-read sheepId="A-7000" name="test-vdi" />
		</assert-fail>
	</test>

	<!-- Passes -->
	<test id="restart_RRRR_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRR" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_ok" />
	</test>

	<!-- Passes -->
	<test id="restart_RRRR_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRR" copies="3" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_ok" />
	</test>

	<!-- Fails because of APPLIANCE-2069 -->
	<test id="restart_RRRRN_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRRN" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_ok" />
	</test>

	<!-- Fails because of APPLIANCE-2069 -->
	<test id="restart_RRRRN_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRRN" copies="3" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_ok" />
	</test>

	<!-- Fails because of APPLIANCE-2069; subsequently APPLIANCE-2137, APPLIANCE-2164 -->
	<test id="restart_RRNRR_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRNRR" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_ok" />
	</test>

	<!-- Fails because of APPLIANCE-2069, APPLIANCE-2164 -->
	<test id="restart_RRNRR_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRNRR" copies="3" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_ok" />
	</test>

	<!-- Passes (correctly dies) -->
	<test id="restart_RRRRX_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRRX" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_recover_missing" />
	</test>

	<!-- Passes, but requires farm backend. -->
	<test id="restart_RRRRX_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRRX" copies="3" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_recover_ok" />
	</test>

	<!-- Fails, because of APPLIANCE-2068 -->
	<test id="restart_RRRRX_c3_simple" auto="false">
		<subtest testId="init" />
		<cluster-restart pattern="RRRRX" copies="3" sheepId="A-7000" hostId="A"
			backend="simple" />
		<subtest testId="restart_assert_recover_ok" />
	</test>

	<!-- Fails because of APPLIANCE-2164 -->
	<test id="restart_RWRRRR_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RWRRRR" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_missing" />
	</test>

	<!-- Fails because recovery can't detect a W node,
	   - or because of APPLIANCE-2069, very hard to tell. -->
	<test id="restart_RWRRRR_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RWRRRR" copies="3" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_running_ok" />
	</test>

	<!-- Difficult to say because of APPLIANCE-2069 -->
	<test id="restart_RRNRRX_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRNRRX" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_recover_missing" />
	</test>

	<!-- Would pass, incorrectly, but fails,
	   - probably because of APPLIANCE-2068 or APPLIANCE-2069 -->
	<test id="restart_RRNRRX_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRNRRX" copies="3" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_recover_ok" />
	</test>

	<!-- ?? Passes incorrectly, because of N node. -->
	<test id="restart_RRRNXX_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRNR" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_recover_missing" />
	</test>

	<!-- Fails, ticket APPLIANCE-2068 -->
	<test id="restart_RRRNXX_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRNXX" copies="3" sheepId="A-7000" hostId="A" />
		<!-- The N-sheep will have the wrong epoch in the sheep-stat. -->
		<subtest testId="restart_assert_recover_ok" />
	</test>

	<!-- Passes -->
	<test id="restart_RRRRXXXX_c3" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRRXXXX" copies="3" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_recover_missing" />
	</test>

	<!-- Fails because all the R sheep suicide with invalid epoch -->
	<!-- Test fails because the first sheep can't be formatted. -->
	<!--
	<test id="restart_NRRRR_c1">
		<subtest testId="init" />
		<cluster-restart pattern="NRRRR" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_recover_missing" />
	</test>
	-->

	<!-- Fails because all the R sheep suicide with invalid epoch -->
	<test id="restart_WRRRR_c1" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="WRRRR" copies="1" sheepId="A-7000" hostId="A" />
		<subtest testId="restart_assert_unformatted" />
	</test>

	<!-- Never failed in Java tests, but fails in python test suite. -->
	<test id="restart_one_host_cluster" groups="@release">
		<sequential repeat="4">
			<subtest testId="init" />
			<cluster-restart pattern="RR" copies="1" sheepId="A-7000,A-7001"
				zonepersheep="false" />
			<subtest testId="check" />
			<vdi-list sheepId="A-7000" />
			<vdi-read sheepId="A-7000" name="test-vdi" />
			<vdi-list sheepId="A-7001" />
			<vdi-read sheepId="A-7001" name="test-vdi" />
		</sequential>
	</test>

	<!-- Never failed in Java tests, but fails in python test suite. -->
	<test id="restart_two_host_cluster" groups="@release">
		<sequential repeat="4">
			<subtest testId="init" />
			<cluster-restart pattern="RR" copies="1" sheepId="A-7000,B-7000"
				zonepersheep="false" />
			<subtest testId="check" />
			<vdi-list sheepId="A-7000" />
			<vdi-read sheepId="A-7000" name="test-vdi" />
			<vdi-list sheepId="B-7000" />
			<vdi-read sheepId="B-7000" name="test-vdi" />
		</sequential>
	</test>

	<!-- Never failed in Java tests, but fails in python test suite. -->
	<test id="restart_multi_host_cluster" groups="@release">
		<sequential repeat="4">
			<subtest testId="init" />
			<cluster-restart pattern="RRRRRRRRR" copies="3"
				sheepId="A-7000,A-7001,A-7002,B-7000,B-7001,B-7002,C-7000,C-7001,C-7002"
				zonepersheep="false" />
			<subtest testId="check" />
			<vdi-list sheepId="A-7000" />
			<vdi-read sheepId="A-7000" name="test-vdi" />
			<vdi-list sheepId="B-7001" />
			<vdi-read sheepId="B-7001" name="test-vdi" />
			<vdi-list sheepId="C-7002" />
			<vdi-read sheepId="C-7002" name="test-vdi" />
			<subtest testId="check" />
		</sequential>
	</test>

	<test id="restart_slow" groups="@release">
		<subtest testId="init" />
		<cluster-restart pattern="RRRRRRRRR" copies="3" delay="1000"
			sheepId="A-7000,A-7001,A-7002,B-7000,B-7001,B-7002,C-7000,C-7001,C-7002"
			zonepersheep="false" />
		<subtest testId="check" />
		<vdi-list sheepId="A-7000" />
		<vdi-read sheepId="A-7000" name="test-vdi" />
		<vdi-list sheepId="B-7001" />
		<vdi-read sheepId="B-7001" name="test-vdi" />
		<vdi-list sheepId="C-7002" />
		<vdi-read sheepId="C-7002" name="test-vdi" />
		<subtest testId="check" />
	</test>


	<test id="recover-zone-io" auto="false">
		<!-- Reads should succeed immediately after a kill/failure. -->
		<parallel>
			<vdi-create name="test-recovery-1" size="102400" write="true" />
			<parallel repeat="10" sync="false">
				<vdi-read name="test-vdi" />
			</parallel>
		</parallel>
		<subtest testId="check" />
	</test>

	<test id="recover-single-node-dies">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000,A-7001,B-7000,B-7001,C-7000,C-7001" valgrind="true"/>
		<subtest testId="format-2" />
		<vdi-create name="test-vdi" size="102400" write="true" />
		<subtest testId="check" />
		<sheep-kill sheepId="C-7001" />
		<sleep msecs="8000" reason="Wait for zookeeper session to expire" />
		<sheep-stat status="RUNNING" check="true" />
		<sheep-scan copies="2"/>
		<subtest testId="recover-zone-io" />
	</test>

	<!-- test_removal_of_zone, APPLIANCE-2041 -->
	<test id="recover-zone-remove" groups="@release">
		<subtest testId="init" />
		<subtest testId="start-small" />
		<subtest testId="format-2" />
		<vdi-create name="test-vdi" size="102400" write="true" />
		<subtest testId="check" />
		<sheep-kill hostId="C" />
		<sleep msecs="10000" reason="Wait for zookeeper session to expire and recovery to occur" />
		<subtest testId="recover-zone-io" />
	</test>

	<!-- killafew_same_host, killafew_other_host -->
	<test id="recover-zone-damage" groups="@release">
		<subtest testId="init" />
		<subtest testId="start-small" />
		<subtest testId="format-2" />
		<vdi-create name="test-vdi" size="102400" write="true" />
		<subtest testId="check" />
		<sheep-kill sheepId="C-7001" />
		<sleep msecs="10000" reason="Wait for zookeeper session to expire and recovery to occur" />
		<subtest testId="recover-zone-io" />
	</test>

	<!-- kill_zone_repeatedly -->
	<!-- This fails because the removed/killed sheep don't know about the deletion
	   - of the VDI, and have old data. If we wrote different data, we would have
	   - total block mismatch with the new copy of the VDI. -->
	<test id="recover-zone-replace" groups="@release">
		<subtest testId="recover-zone-remove" />
		<vdi-delete name="test-recovery-1" />
		<sleep msecs="500" reason="Waiting for deletion of VDI to flush." />
		<subtest testId="start-small" />
		<subtest testId="recover-zone-io" />
	</test>

	<test id="recover-disk-replace" groups="@release">
		<subtest testId="init" />
		<subtest testId="start-small" />
		<subtest testId="format-2" />
		<vdi-create name="test-vdi" size="102400" write="true" />
		<subtest testId="check" />
		<sheep-wipe sheepId="C-7000" />
		<!-- It is entirely reasonable to do this.  A tech is unlikely to
			 replace a drive in less than 10 seconds, and zookeeper needs the
			 time to expire the session. -->
		<sleep msecs="10000" reason="Wait for zookeeper session to expire and recovery to occur" />
		<sheep-start sheepId="C-7000" />
		<subtest testId="recover-zone-io" />
	</test>

	<test id="zookeeper-restart-cluster-idle">
		<subtest testId="init" />
		<subtest testId="start-small" />
		<subtest testId="format-2" />
		<vdi-create name="test-vdi" size="102400" write="true" />
		<subtest testId="check" />
		<exec>
			sudo service zookeeper restart
		</exec>
		<subtest testId="check" />
		<vdi-create name="test-vdi2" size="102400" write="true" />
	</test>

	<test id="zookeeper-restart-cluster-busy">
		<subtest testId="init" />
		<subtest testId="start-small" />
		<subtest testId="format-2" />
		<vdi-create name="test-vdi" size="102400" write="true" />
		<subtest testId="check" />
		<parallel>
			<exec>
				sudo service zookeeper restart
			</exec>
			<vdi-create name="test-vdi2" size="102400" write="true" />
		</parallel>
		<subtest testId="check" />
		<vdi-create name="test-vdi3" size="102400" write="true" />
	</test>

	<!-- Kill existing master, bring back up as slave -->
	<test id="master-becomes-slave" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="1000" reason="ensure that A-7000 is master" />
		<sheep-start hostId="A" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="format-1" />
		<subtest testId="check" />
		<sheep-kill sheepId="A-7000" />
		<sleep msecs="6500" reason="wait for zookeeper session to expire" />
		<subtest testId="check" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<!-- if a new master has been elected then the cluster will have joined
			 the old guy -->
		<subtest testId="check" />
	</test>

	<!-- Kill arbitrary slave, bring back up -->
	<test id="slave-stays-slave" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="1000" reason="ensure that A-7000 is master" />
		<sheep-start hostId="A" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="format-1" />
		<subtest testId="check" />
		<sheep-kill sheepId="A-7001" />
		<sleep msecs="6500" reason="wait for zookeeper session to expire" />
		<subtest testId="check" />
		<sheep-start sheepId="A-7001" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="check" />
	</test>

	<!-- Kill slave then master really fast -->
	<test id="murder-suicide-master-slave" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="1000" reason="ensure that A-7000 is master" />
		<sheep-start hostId="A" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="format-1" />
		<subtest testId="check" />
		<!-- avoid any sorting -->
		<sheep-kill sheepId="A-7001" />
		<sheep-kill sheepId="A-7000" />
		<sleep msecs="6500" reason="wait for zookeeper session to expire" />
		<subtest testId="check" />
		<sheep-start sheepId="A-7001,A-7000" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="check" />
	</test>

	<!-- Kill all, bring up different node as master, bring up rest -->
	<test id="cluster-restart-new-master" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="1000" reason="ensure that A-7000 is master" />
		<sheep-start hostId="A" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="format-1" />
		<subtest testId="check" />
		<sheep-kill hostId="A" />
		<sleep msecs="6500" reason="wait for zookeeper session to expire" />
		<sheep-start sheepId="A-7001" />
		<sleep msecs="1000" reason="ensure that A-7001 is master" />
		<sheep-start hostId="A" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="check" />
	</test>

	<!-- Kill all and bring back up immediately, then try to create vdi -->
	<!-- Fails because no sheep are JOIN'd after restart until all previous
		 electors expire and one of the sheep can assume mastership and re-join
		 the cluster -->
	<test id="cluster-fast-restart" groups="@release,@fails">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="1000" reason="ensure that A-7000 is master" />
		<sheep-start hostId="A" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="format-1" />
		<subtest testId="check" />
		<sheep-kill hostId="A" />
		<!-- Putting a ~6 second delay here or after starting will cause this
			 test to pass -->
		<sheep-start hostId="A" />
		<vdi-create name="crud-vdi-0" size="102400" write="true" />
		<vdi-read name="crud-vdi-0" />
		<subtest testId="check" />
	</test>

	<!-- Kill master then try to create a vdi -->
	<test id="master-dead-vdi-write" groups="@release">
		<subtest testId="init" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="1000" reason="ensure that A-7000 is master" />
		<sheep-start hostId="A" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="format-1" />
		<subtest testId="check" />
		<sheep-kill sheepId="A-7000" />
		<vdi-create name="crud-vdi-0" size="102400" write="true" />
		<vdi-read name="crud-vdi-0" />
		<subtest testId="check" />
		<sheep-start sheepId="A-7000" />
		<sleep msecs="500" reason="give zookeeper sheep a little extra time" />
		<subtest testId="check" />
	</test>

	<!-- somehow force a master-transfer -->

</configuration>
